body {
  background: linear-gradient(to bottom, rgb(179, 196, 213), rgb(227, 236, 249));
  margin: 0;
  font-family: Arial, sans-serif;
}

* {
  border: 1px solid rgb(99, 108, 119);
  border-radius: 6px;
  box-shadow: 3px 3px 9px rgba(99, 108, 119, 0.16);
  box-sizing: border-box;
}

/* The main container that holds everything. */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/* A container inside the main one that holds main content and aside. */
.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  justify-content: space-between;
  align-items: center;
  min-height: 70vh;
}

/* The header, footer, and wrapper get some basic styles. */
.one, .six, .wrapper {
  flex-grow: 1;
  margin: .5em;
  background-color: rgb(207, 213, 219);
}

/* Main content and side content areas. */
.two, aside {
  width: 90%;
  flex-grow: 3;
  margin: .5em;
  background-color: rgb(216, 229, 236);
}

/* The side section for extra content. */
aside {
  display: flex;
  justify-content: space-between;
  min-height: 20vh;
}

/* Small sections inside the side section. */
.three, .four, .five {
  flex-grow: 10;
  margin: .5em;
  background-color: rgb(207, 213, 219);
}

/* When the screen gets wider than 600 pixels, change some styles. */
@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .one {
    width: 100%;
  }
  .wrapper {
    justify-content: stretch;
    flex-basis: 70%;
    min-height: 80vh;
  }
  .six {
    margin: .5em;
    flex-grow: 3;
    min-height: 80vh;
  }
}
